<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tran Viet Anh</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- linking css file -->
    <link rel="stylesheet" href="css\style.css">
    <!-- bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/31149d48b0.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark navbarScroll">
        <div class="container">
            <a class="navbar-brand" href="#">Trần Việt Anh</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- main banner -->
    <section class="bgimage" id="home">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-text">
                    <h2 class="hero_title">Hi, it's me TVA</h2>
                    <p class="hero_desc">I am learning computer programming at University of Greenwich</p>
                </div>
            </div>
        </div>
    </section>

    <!-- about section-->
    <section id="about">
        <div class="container mt-4 pt-4">
            <h1 class="text-center">About Me</h1>
            <div class="row mt-4">
                <div class="col-lg-4">
                    <img src="images/avatar.jpg" class="imageAboutPage" alt="">
                </div>

                <div class="col-lg-8">
                    <p> <cite>"Manners marketh man"- Kingsman</cite>
                    </p>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <ul>
                                <li>Name:<strong>Trần Việt Anh</strong></li>
                                <li>Age: 20</li>
                                <li>Occupation: Student </li>
                                <li>University: Greenwich</li>
                                <li>Facebook: <a href="https://www.facebook.com/loyd.parker.5688/">Anh Viet Tran</a></li>
                                <li>Instagram: _tvanh2011_</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li>Location: <strong>Ha Noi</strong></li>
                                <li>Phone: <strong>0857648024</strong></li>
                                <li>Gmail(personal):<strong> tranvietanh20112001@gmail.com</strong> </li>
                                <li>Gmail(student and work): <strong>anhtvgch190350@fpt.edu.vn</strong></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <p> Welcome to my world. I aspire to be a full-stack developer in the future. I love traveling, reading, taking pictures and reading tarot. You can follow the projects I've worked on right below.
                        </p>
                    </div>
                </div>
            </div>
    </section>

    <!-- services section
    <section id="services">
        <div class="container">
            <h1 class="text-center">Services</h1>
            <div class="row">
                <div class="col-lg-4 mt-4">
                    <div class="card servicesText">
                        <div class="card-body">
                            <i class="fas servicesIcon fa-clock"></i>
                            <h4 class="card-title mt-3">Website Development</h4>
                            <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-4">
                    <div class="card servicesText">
                        <div class="card-body">
                            <i class='fas servicesIcon fa-layer-group'></i>
                            <h4 class="card-title mt-3">Website Design</h4>
                            <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-4">
                    <div class="card servicesText">
                        <div class="card-body">
                            <i class='far servicesIcon fa-check-circle'></i>
                            <h4 class="card-title mt-3">Website Deployment</h4>
                            <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 mt-4">
                    <div class="card servicesText">
                        <div class="card-body">
                            <i class='fas servicesIcon fa-search'></i>
                            <h4 class="card-title mt-3">SEO</h4>
                            <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-4">
                    <div class="card servicesText">
                        <div class="card-body">
                            <i class='fas servicesIcon fa-shield-alt'></i>
                            <h4 class="card-title mt-3">DevOps</h4>
                            <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-4">
                    <div class="card servicesText">
                        <div class="card-body">
                            <i class='fas servicesIcon fa-wrench'></i>
                            <h4 class="card-title mt-3">QA</h4>
                            <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
-->
    <!-- portfolio section-->
    <section id="portfolio">
        <div class="container mt-3">
            <h1 class="text-center">Portfolio</h1>
            <div class="row">
                <div class="col-lg-4 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="images/atn.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">ATN Toys shop</h4>
                            <p class="card-text">The program is written by Nodejs, Handlebars, Js and Bootstrap.</p>
                            <div class="text-center">
                                <a href="https://github.com/anhtvgch190350/cloud" class="btn btn-success">Link GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-4">
                    <div class="card portfolioContent">
                        <img class="card-img-top" src="images/tarot.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Tarot on Instagram</h4>
                            <p class="card-text">I research, study and write stories about tarot. Follow up now.</p>
                            <div class="text-center">
                                <a href="https://www.instagram.com/toituhoctarot/" class="btn btn-success">Link</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-4">
                    <div class="card portfolioContent">
                        <img class="card-img-top" src="images/comming.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Comming soon</h4>
                            <p class="text-center">Comming soon</p>
                            <div class="text-center">
                                <button type="button" class="btn btn-secondary" disabled>Comming soon</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br>

            <div class="row">

                <div class="col-lg-4 mt-4">
                    <div class="card portfolioContent">
                        <img class="card-img-top" src="images/comming.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Comming soon</h4>
                            <p class="text-center">Comming soon</p>
                            <div class="text-center">
                                <button type="button" class="btn btn-secondary" disabled>Comming soon</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-4">
                    <div class="card portfolioContent">
                        <img class="card-img-top" src="images/comming.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Comming soon</h4>
                            <p class="text-center">Comming soon</p>
                            <div class="text-center">
                                <button type="button" class="btn btn-secondary" disabled>Comming soon</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-4">
                    <div class="card portfolioContent">
                        <img class="card-img-top" src="images/comming.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Comming soon</h4>
                            <p class="text-center">Comming soon</p>
                            <div class="text-center">
                                <button type="button" class="btn btn-secondary" disabled>Comming soon</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>





    </section>

    <!-- contact section-->
    <section id="contact">
        <div class="container mt-3 contactContent">
            <h1 class="text-center">Contact Me</h1>

            <div class="row mt-4">
                <div class="col-lg-6">
                    <!-- to edit google map goto https://www.embed-map.com type your location, generate html code and copy the html  -->
                    <div style="max-width:100%;overflow:hidden;color:red;width:500px;height:500px;">
                        <div id="embedmap-canvas" style="height:100%; width:100%;max-width:100%;">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.2218839360453!2d105.78815681426997!3d21.023806086001056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b329f68977%3A0x6ddf5ff1e829fc56!2sGreenwich%20Vi%E1%BB%87t%20Nam!5e0!3m2!1sen!2s!4v1662805464379!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <a class="googlemaps-html" href="https://www.embed-map.com" id="get-data-forembedmap">https://www.embed-map.com</a>
                    </div>
                </div>

                <div class="col-lg-6">
                    <!-- form fields -->
                   <button class="btn btn-primary"><a href="tel:123-456-7890p123" style="color:yellow; text-decoration: none;"><i class="fa fa-phone-square"></i>CLICK TO CALL</a></button>
                
                </div>

            </div>
        </div>
    </section>
    <!-- footer section-->
    <footer id="footer">
        <div class="container-fluid">
            <!-- social media icons -->
            <div class="social-icons mt-4">
                <p>See You Soon</p>
            </div>
        </div>
    </footer>

    <!-- load javascript after loading all html content -->
    <script src="script/script.js"></script>
    

</body>

</html>